#news {
  height: auto;
  padding-top: 100px;
  padding-bottom: 70px;
  padding-left: 20px;
  padding-right: 20px;
  overflow-x: hidden; /* Thêm thuộc tính này để ẩn cuộn ngang nếu có */
}

.thumbnail-container {
  position: relative;
  overflow: hidden;
  border-radius: 8px;
  width: 100%;
  max-width: 400px; /* Chiều rộng tối đa là 400px */
  height: auto;
  aspect-ratio: 10 / 9;
  margin-top: 50px;
}

/* Định dạng cho ảnh thumbnail */
.thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.5s ease;
}

/* Hiệu ứng zoom khi hover */
.thumbnail-container:hover .thumbnail-image {
  transform: scale(1.1);
}

/* Định dạng cho tooltip */
.thumbnail-tooltip {
  position: absolute;
  bottom: 20px;
  left: 15px;
  background: rgba(53, 27, 103, 1);
  color: #fff;
  padding: 1rem;
  text-align: left;
  width: calc(100% - 30px);
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 20px;
  transition: background-color 0.3s ease, transform 0.5s ease;
}

.thumbnail-tooltip:hover {
  background: linear-gradient(135deg, rgba(127, 17, 224, 1), rgba(53, 27, 103, 1));
}

/* Định dạng cho tiêu đề và ngày trong tooltip */
.tooltip-title {
  font-size: 1.3rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-date {
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.2rem;
}

/* Responsive */
@media (max-width: 768px) {
  .thumbnail-container {
    width: 100%;
    max-width: none;
    height: auto;
    aspect-ratio: 10 / 9;
  }
  
  .thumbnail-image {
    width: 100%;
    height: auto;
  }
}
