:root {
    --primary-bg: #452a70; /* Màu nền chính */
    --secondary-bg: #130e18; /* Màu nền phụ */
    --accent-bg: #ececec; /* Màu nền nhấn */
    --navbar-bg: #130e18; /* Màu nền tùy chỉnh cho Navbar */
    --navbar-text: #fff;
    --service-bg: #050709;
    --hover-gradient: linear-gradient(135deg, #654a9a 0%, #452a70 100%);
    --home-bg: radial-gradient(circle at 60% 70%, rgba(69, 42, 112, 0.5), transparent 20%),
                radial-gradient(circle at 95% 10%, rgba(69, 42, 112, 0.5), transparent 15%),
                #130e18;
    --work-bg: radial-gradient(circle at 50% 50%, rgba(69, 42, 112, 0.8), transparent 70%),
                #130e18;            
  }
  
  .primary-bg {
    background-color: var(--primary-bg);
  }
  
  .secondary-bg {
    background-color: var(--secondary-bg);
  }
  
  .accent-bg {
    background-color: var(--accent-bg);
  }

.service-bg {
  background-color: var(--service-bg);
}

  .navbar-bg {
    background-color: var(--navbar-bg);
  }

  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: var(--navbar-text);
  }

  .home-bg {
    background: var(--home-bg);
  }

  .work-bg {
    background: var(--work-bg);
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 60px;
  }
  
  .custom-table th,
  .custom-table td {
    padding: 2rem 2rem;
    text-align: left;
    border-bottom: 1px solid var(--primary-bg);
    font-family: "Sora";
    color: #fff;
    transition: background-color 0.3s ease;
  }

  .custom-table td:nth-child(3) {
    max-width: 300px; /* Giới hạn chiều rộng của cột nội dung */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .custom-table tbody tr {
    transition: background-color 0.4s ease, box-shadow 0.5s ease, transform 0.8s ease;
  }
  
  .custom-table tbody tr:hover {
    background-color: var(--primary-bg); /* Màu nền khi hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Đổ bóng khi hover */
    transform: translateY(1px);
  }

  .introduction {
    font-weight: 400;
    font-size: 15px;
  }

  .jobs {
    font-size: 30px;
    font-weight: 700;
  }


