@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

/* Tùy chỉnh thanh cuộn cho toàn bộ trang web */
::-webkit-scrollbar {
  width: 12px; /* Độ rộng của thanh cuộn */
  height: 12px; /* Độ cao của thanh cuộn ngang */
}

::-webkit-scrollbar-track {
  background: #452a70; /* Màu nền của track thanh cuộn */
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #6a11cb 0%, #2575fc 100%); /* Màu gradient của thanh cuộn */
  border-radius: 10px; /* Bo góc của thanh cuộn */
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #4a00e0 0%, #8e2de2 100%); /* Màu gradient của thanh cuộn khi hover */
}

::-webkit-scrollbar-corner {
  background: #f1f1f1; /* Màu nền của góc vuông thanh cuộn */
}

/* Tùy chỉnh thanh cuộn cho phần tử cụ thể nếu cần */
.custom-scrollbar {
  scrollbar-width: thin; /* Đặt độ rộng của thanh cuộn (cho Firefox) */
  scrollbar-color: #6a11cb #f1f1f1; /* Màu của thanh cuộn và track (cho Firefox) */
}


.nav-link {
    position: relative;
    cursor: pointer;
    font-family: "Sora";
    padding: 20px;
    margin: 0 20px;
    float: right;
  }
  
  .nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #fff;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
  }
  
  .nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #fff;
  }
  
  .nav-link.active::after {
    width: 100%;
    left: 0;
    background: #fff;
  }

  .brand {
    padding: 20px;
    font-family: "Sora";
    font-style: normal;
    font-weight: 600;
  }
  
  .navbar-bg {
    justify-content: space-between;
  }

  .navbar{
    box-shadow: 0 4px 8px rgba(127, 17, 224, 0.1); /* Đổ bóng cho navbar */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
  }
