@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.Name {
    color: #fff;
    font-family: "Sora";
    font-weight: 600;
    font-size: 36px;
}

.content {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

.Xtitle{
    color: #fff;
    font-size: 55px;
    background: linear-gradient(45deg, rgba(255, 0, 150, 0.8), rgba(0, 204, 255, 0.8)); /* Gradient màu chữ */
    -webkit-background-clip: text; /* Clip gradient vào chữ */
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

.col-l {
    flex: 1;
}

.home {
    height: auto;
    z-index: 10;
}

.btn-down {
    padding: 10px 30px;
    border-radius: 30px;
    font-family: "Sora";
    border: 2px solid #8953F7;
    background-color: transparent;
    color: #8953F7;
}

  
.me-2 {
    color: #fff; /* Màu của các biểu tượng */
    margin: 0 5px;
  }

.me-2 a {
    text-decoration: none;
}
  
.me-2:hover {
    color: #8953F7; /* Màu khi hover vào biểu tượng */
  }

.social {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
}

.image-container {
    width: 100%;
    max-width: 400px;
    height: auto;
    perspective: 1000px;
    margin-top: -100px;
}

.tilted-image {
    width: 100%;
    height: 100%;
    border: 2px solid #27134f; /* Thêm viền màu */
    border-radius: 25px;
    transition: transform 0.3s ease;
    transform: rotate(2deg);
    object-fit: cover;
}

.tilted-image:hover {
    transform: rotate(0deg);
    border: 2px solid #8750f7;
}

@media (max-width: 768px) {
    .image-container {
        max-width: 100%; /* Đảm bảo container ảnh không vượt quá kích thước của màn hình */
        margin-top: 20px; /* Khoảng cách trên nếu cần */
    }
    .social {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;
    }
}