.title {
    color: #fff;
    font-size: 45px;
    background: linear-gradient(45deg, rgba(255, 0, 150, 0.8), rgba(0, 204, 255, 0.8)); /* Gradient màu chữ */
    -webkit-background-clip: text; /* Clip gradient vào chữ */
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
    font-family: "Sora";
    margin-bottom: 20px;
}

#projects {
    height: auto;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 70px;
}

.text {
    color: #fff;
    font-family: "Sora";
}

@media (max-width: 768px) {
    .title {
        font-size: 45px; /* Điều chỉnh kích thước chữ cho màn hình nhỏ hơn */
    }

    #projects {
        padding: 50px 10px; /* Điều chỉnh padding cho màn hình nhỏ hơn */
    }

    .custom-table td {
        display: block;
        width: 100%;
        box-sizing: border-box;
        padding: 15px 0;
        border-bottom: 1px solid #ddd;
    }

    .custom-table td:first-child {
        font-weight: bold;
    }

    .custom-table td:not(:first-child) {
        border-bottom: none;
    }
}
